.diary-desc {
  @include column-flexbox(space-between, stretch);
  min-height: 100vh;
  width: 100%;

  &-main {
    @include column-flexbox(flex-start, stretch);
    flex: 1;

    &-image {
      @include fillMaxWidth;
      margin-bottom: 8px;
    }

    &-text {
      @include flexbox(stretch, stretch);
      flex: 1;
      position: relative;
      padding-bottom: 16px;

      textarea {
        flex: 1;
        margin-bottom: 0;
      }

      .diary-date {
        position: absolute;
        bottom: 35px;
        right: 16px;

        color: $text-gray-4;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  &-btns {
    @include flexbox(space-between);

    // 버튼들 공통 이펙트
    button {
      @include OpacityEffect(0.6);
    }

    &-share {
      flex-basis: 50%;
      padding-right: 12px;

      button {
        max-width: 280px;
      }
    }

    &-two {
      @include flexbox(flex-end);
      flex-basis: 50%;

      button {
        max-width: 140px;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
