.schedule-home {
  @include column-flexbox(flex-start, stretch);
  min-height: 100vh;
}

.schedule {
  &-date {
    // 날짜 아래 border 있는 경우
    padding-bottom: 16px;
    border-bottom: 1px solid $primary;

    color: $primary;
    font-size: $font-size-24;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
  }

  &-main {
    flex: 1;

    // header, title, add-button의 높이를 뺀 값.
    max-height: calc(100vh - 100px - 80px - 41px);
    overflow-y: scroll;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .schedule-container {
      height: 100%;
      border-radius: 10px;

      .schedule-item {
        @include flexbox(space-between);
        padding: 16px;
        margin: 0 6px 8px 6px;
        border-radius: 10px;

        color: $white;
        font-weight: 700;

        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        &-text {
          width: 70%;
        }

        &-title {
          margin-bottom: 4px;
          font-size: $font-size-16;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &-date {
          font-size: $font-size-12;
        }

        &-delete-btn {
          width: 24px;
          height: 24px;
          transition: transform 100ms ease-in-out;

          &:active,
          &:hover {
            transform: scale(1.2);
          }
        }

        // 색상 1, 2, 3번
        &-0 {
          background-color: $secondary;
        }

        &-1 {
          background-color: $primary;
        }

        &-2 {
          background-color: $yellow;

          color: $text-dark;
        }
      }
    }
  }

  &-add-btn {
    padding: 16px 0;
    text-align: center;
  }
}
