@import "./styles/main.scss";

body {
  margin-top: 2rem;
}

// 40 사이즈
.input-container {
  width: 100%;
  height: 40px;

  padding: 0 8px;
  background-color: $white;

  border: solid 2px $primary;
  border-radius: 6px;

  font-size: 16px;
  font-weight: bold;

  margin-bottom: 8px;

  display: flex;
  align-items: center;
}

span {
  width: 10%;
}

.input {
  width: 90%;

  &::placeholder {
    color: $text-gray-3;
  }
}

// 36 사이즈
// .input {
//   width: 100%;
//   height: 36px;

//   padding: 0 8px;

//   border: solid 2px $primary;
//   border-radius: 6px;

//   font-size: 14px;
//   font-weight: bold;

//   &::placeholder {
//     color: $text-gray-3;
//   }
// }

div {
  height: 100px;
  // display: flex;
}

.red {
  background-color: red;
}

.col-sm-1 {
  background-color: $white;
}

.col-sm-2 {
  background-color: $secondary;
}

.col-sm-3 {
  background-color: $tertiary;
}

.col-sm-4 {
  background-color: $primary;
}

.col-md-1 {
  background-color: $primary;
}

.col-md-2 {
  background-color: $secondary;
}

.col-md-3 {
  background-color: $tertiary;
}

.col-md-4 {
  background-color: $primary;
}

.col-md-8 {
  background-color: $primary;
}

.container {
  background-color: tomato;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
