@mixin fillMaxWidth() {
  width: 100vw;
  max-width: 1024px;
  transform: translateX(-8px);

  .fill-image {
    width: 100%;
    height: auto;
    min-height: 244px;
    max-height: 400px;
  }

  @media screen and (min-width: $md-breakpoint) {
    transform: translateX(-24px);

    img {
      max-height: 500px;
    }
  }

  @media screen and (min-width: $lg-breakpoint) {
    transform: translateX(-40px);

    img {
      max-height: 600px;
    }
  }
}
