.mypage {
  min-height: 100vh;

  .input-header {
    border: none;
    margin-bottom: 0;
  }

  &-main {
    @include column-flexbox(flex-start);
    padding: 24px 8px 0 8px;

    // 배경 채우기 위해
    width: 100vw;
    height: calc(100vh - 62px);
    max-width: 1024px;
    transform: translate(-8px);
    background-color: $blue-light;
  }

  &-profile {
    @include column-flexbox;
    margin-bottom: 24px;

    &-img-container {
      position: relative;
      width: 180px;
      height: 180px;
      margin-bottom: 16px;

      .mypage-profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &-nickname {
      display: inline-block;
      position: relative;
      padding: 0 4px;
      font-size: 30px;
      font-weight: 700;
      color: $text-dark;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $text-dark;
      }
    }
  }

  &-menu {
    @include column-flexbox;
    width: 100%;

    &-item {
      @include menuColorEffect;
      @include column-flexbox(center, flex-start);
      background-color: $white;
      padding-left: 24px;
      width: 100%;
      height: 40px;
      margin-bottom: 4px;

      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;

      span {
        font-weight: 700;
        color: $primary;
      }
    }
  }
}

// // edit 페이지 form 이미지 input
// .mypage-edit-form {
//   .profile-img-input {
//     display: none;
//   }
// }

// edit 폼의 닉네임 input
.mypage-edit-nickname {
  padding: 4px 10px;
  min-width: 160px;
  width: 60%;
  height: 36px;
  max-width: 300px;
  border-bottom: 2px solid $text-dark;

  font-size: 24px;
  text-align: center;

  background-color: transparent;
}

.mypage-main {
  .input-label {
    margin-bottom: 8px;
  }
}

.mypage-profile-add {
  position: absolute;
  bottom: 0;
  right: 0;

  .profile-file-input {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

.mypage-profile-add-icon {
  @include ScaleEffect(1.1);
  position: absolute;
  bottom: 0;
  right: 0;

  width: 60px;
  height: 60px;

  opacity: 0.8;

  pointer-events: none;
}

.mypage-edit-btn-section {
  @include flexbox(flex-end);
  position: absolute;
  width: 100%;
  bottom: 26px;
  padding-right: 8px;

  .mypage-edit-btn {
    margin: 0;
    max-width: 140px;

    &:first-child {
      margin-right: 8px;
    }
  }
}
