.board-myPage {
  .input-header {
    border: none;
    margin-bottom: 0;
  }

  &-header {
    @include column-flexbox(flex-end);
  }

  &-nav {
    margin-bottom: 4px;
    width: 100%;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 6px;

      li {
        span {
          width: 100%;
          font-size: 12px;
          color: $primary;

          border-bottom: 1px solid $primary;
        }
      }
    }
  }
}
