.badge {
  &-main {
    @include column-flexbox(flex-start, stretch);
    position: relative;
    padding-bottom: 16px;
    width: 100vw;
    min-height: 100vh;
    background-color: #ecf3f8;
    transform: translateX(-8px);
  }

  &-trophy {
    text-align: center;

    margin: 8px 0 12px 0;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }

  &-item {
    @include column-flexbox;
    @include ScaleEffect;
    min-height: 96px;
    cursor: pointer;

    &-image {
      width: 80%;
      height: 80%;
      margin-bottom: 8px;
    }

    @for $idx from 1 through 15 {
      .badge-image-#{$idx} {
        background-image: url("../../../assets/badges/#{$idx}.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &-title {
      font-size: $font-size-12;
      font-weight: 700;

      white-space: no-wrap;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    // 미획득 뱃지
    &-not-complete {
      .badge-item-image {
        opacity: 0.3;
      }

      .badge-item-title {
        color: $text-gray-3;
      }
    }

    // 도전중인 뱃지
    &-challenge {
      img {
        background-color: pink;
        border-radius: 50%;
        opacity: 0.5;
      }
      .badge-item-title {
        font-size: 13px;
        font-weight: 700;
        color: $primary;
      }
    }
  }

  // Pop-up css
  &-popup {
    @include popup-setting;
    max-width: 344px;
    padding: 24px 0 0 0;

    &-title {
      @include popup-title;
    }

    &-main {
      @include column-flexbox;
      padding: 16px 16px 8px 16px;
      background-color: $blue-light;
      border-radius: 0 0 10px 10px;

      .badge-popup-image {
        width: 180px;
        height: 180px;
        margin-bottom: 16px;
      }

      @for $idx from 1 through 15 {
        .badge-popup-image-#{$idx} {
          background-image: url("../../../assets/badges/#{$idx}.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .not-achieve {
        opacity: 0.3;
      }
    }

    &-text {
      display: block;
      width: 98%;
      max-width: 312px;
      min-height: 30px;
      padding: 8px 16px;
      margin-bottom: 8px;
      border: 2px solid $secondary;
      border-radius: 10px;

      font-size: $font-size-14;
      color: $text-dark;
      font-weight: 400;
      line-height: 1.5em;

      background-color: $white;

      span {
        font-weight: 600;
      }
    }

    // 현재 달성률
    &-count {
      line-height: 1em;
    }

    &-bottom-btn {
      margin-top: 8px;
      width: 160px;
    }
  }
}
