.current-diary {
  &-title {
    margin-bottom: 12px;
    color: $text-dark;
    font-size: $font-size-20;
    font-weight: 700;
  }

  &-container {
    background-color: $blue-light;
    // overflow-y: scroll;

    // /* Hide scrollbar for Chrome, Safari and Opera */
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    // /* Hide scrollbar for IE, Edge and Firefox */
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */
  }
}
