.main-calendar {
  background-color: $blue-light;
  margin-bottom: 8px;

  // body
  .fc-view-harness {
    height: 60vh !important;
    background-color: $white;
    margin-bottom: 8px;
  }

  // mobile
  @media screen and (max-width: $md-breakpoint) {
    // monthly header
    .fc-header-toolbar {
      height: 26px;
      margin-bottom: 0 !important;

      .fc-toolbar-chunk {
        @include flexbox;
        height: 16px;

        .fc-toolbar-title {
          font-size: $font-size-16;
          font-weight: 600;
        }

        .fc-customPrev-button,
        .fc-customNext-button {
          font-size: 24px;
          font-weight: 700;
          padding: 0;
          border: none;
          color: $black;
          outline: none;
          background-color: transparent;
          transform: translateY(-5%);
          box-shadow: none;

          &:active,
          &:hover,
          &:focus {
            box-shadow: none !important;
            background-color: transparent !important;
          }
        }
      }
    }

    // calendar header
    .fc-col-header {
      margin-top: 6px;
      &-cell {
        font-weight: 600;
      }
    }

    // border remove.
    th {
      border: none !important;
    }
    td {
      border: none !important;
    }

    .fc-scrollgrid {
      border: 2px solid $primary !important;
      border-radius: 10px;
    }

    // calendar body
    // 남은 달 날짜들 예외 설정.
    .fc-day-other {
      .menstruation {
        opacity: 0.3;
      }
    }

    .fc-view-harness {
      height: 312px !important;
    }

    .fc-daygrid-day-frame {
      display: flex;
      justify-content: center;
      align-items: center;

      .fc-daygrid-day-top {
        font-weight: 600;
        color: $text-gray-1;
      }

      // 모바일에서는 일정 이벤트 노출 안 됨.
      .fc-daygrid-day-events {
        position: absolute !important;

        .fc-daygrid-event-harness {
          // 생리 시작일
          .menstruation {
            width: 31px;
            height: 31px;
            border: none;
            // background-color: transparent;
            background-color: $yellow;
            border-radius: 50%;

            z-index: 3; // 나중에 popup 하고 다 z-index 수정해야 함.
          }

          .menstruation-due-date {
            width: 31px;
            height: 31px;
            border: 3px dotted $yellow;
            // background-color: $yellow;
            background-color: transparent;

            border-radius: 50%;

            z-index: 3; // 나중에 popup 하고 다 z-index 수정해야 함.
          }

          .fc-event-title {
            display: none;
          }
        }
      }
    }

    .fc-day-sun {
      color: red;
      a {
        color: red;
      }
    }

    // 오늘 날짜 표시
    .fc-day-today {
      background-color: transparent !important;

      .fc-daygrid-day-top {
        @include flexbox(center);
        min-width: 29px;
        border: 2.5px solid $primary;
        border-radius: 50%;
      }
    }
  }
}
