.main-calendar {
  @include calendarSetting();

  // 남은 달 날짜들 예외 설정.
  .fc-day-other {
    .menstruation-start-date,
    .menstruation-due-date {
      opacity: 0.3;
    }
  }

  .fc-daygrid-day-top {
    z-index: 10;
  }

  .fc-daygrid-day-events {
    position: absolute !important;
    width: 100%;
    height: 100%;
    // background-color: orange;
    // opacity: 0.5;
  }

  .fc-daygrid-event-harness {
    position: absolute !important;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    // background-color: pink;

    // // width: 100% !important;
    // // height: 100% !important;
    // // background-color: pink;

    // display: inline-block;
    // margin-top: 0 !important;

    // 생리 관련 이벤트 공통 설정
    .menstruation-start-date,
    .menstruation-due-date {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      margin: 0 !important;

      width: 32px;
      height: 32px;
      border-radius: 50%;

      z-index: 3; // 나중에 popup 하고 다 z-index 수정해야 함.
    }

    // 생리 시작일
    .menstruation-start-date {
      border: none;
      background-color: $yellow;
    }

    // 생리 예정일
    .menstruation-due-date {
      border: 3px dotted $yellow;
      background-color: transparent;
    }

    .fc-event-title {
      display: none;
    }
  }

  .schedule-event {
    background-color: $tertiary !important;
    top: 50%;

    transform: translateY(-50%);

    height: 80%;
    width: 100%;
    margin: 0 !important;
    border: none;
    opacity: 0.5;
    z-index: 1;
  }

  // 일정 : 당일 하루
  .schedule-event-today {
    border-radius: 20px;
  }

  .schedule-event-start {
    border-radius: 20px 0 0 20px;
  }

  .schedule-event-mid {
    border-radius: 0;
  }

  .schedule-event-end {
    border-radius: 0 20px 20px 0;
  }
}
