.todo-section {
  .home-badge-container {
    @include flexbox(space-between);
    height: 50px;
    padding: 10px 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: $primary;

    // 도전 뱃지 관련
    .badge-image {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%;
    }

    @for $idx from 1 through 15 {
      .badge-image-#{$idx} {
        background-image: url("../../assets/badges/#{$idx}.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .badge-info {
      @include flexbox(space-between);
      flex: 1;
      font-size: 18px;
      font-weight: 700;
      color: $white;
    }
  }
}
