.add-btn {
  transition: opacity 50ms ease-in-out;

  &:hover,
  &:active {
    opacity: 0.8;
  }
}

.add-btn-todo {
  // 기본 40px 크기
  img {
    width: 36px;
    height: 36px;
  }
}

// // 일정
.add-btn-schedule {
  img {
    width: 48px;
    height: 48px;
  }
}
