.global-header {
  @include flexbox(space-between);
  height: 62px;

  &-logo {
    img {
      height: 100%;
    }
  }

  @media screen and (min-width: $md-breakpoint) {
    &-logo {
      height: 40px;
    }

    .water-icon {
      transform: scale(1.2);
    }
  }
}
