@mixin input-container-setting {
  width: 100%;
  padding: 0 8px;

  background-color: $white;
  border: solid 2px $primary;
  border-radius: 6px;

  display: flex;
  align-items: center;
}

.input-label {
  display: inline-block;
  font-size: $font-size-16;
  font-weight: 600;
  color: $text-gray-1;
  margin-bottom: 12px;
}

// 로그인 인풋
.input-container-36 {
  @include input-container-setting;

  height: 36px;
  font-size: $font-size-16;
  margin-bottom: 16px;
  position: relative;

  input {
    width: 100%;
    background-color: $white;

    &::placeholder {
      color: $text-gray-3;
    }
  }
}

// 입력 에러 시 input-container 강조효과
.input-error {
  border: 5px solid $primary;
}

// chrome input 자동으로 색 채워지는 거 방지.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  // -webkit-text-fill-color: #fff !important;
}
