// main colors
$primary: #769fcd;
$secondary: #a3cee9;
$tertiary: #d6e6f2;
$blue-light: #f7fbfc;
$yellow: #f4f2bf;

// base colors
$white: #fff;
$black: #000;

// text colors
$text-dark: #191a20;
$text-gray-1: #4f5458;
$text-gray-2: #8c8d96;
$text-gray-3: #e9ecef;

// etc
$border: #e0e2e7;
$background: #f7f8fa;
$blind: #a1a1a1;
