$font-main: "Noto Sans KR", sans-serif;

$font-size-30: 30px;

$font-size-24: 24px;

$font-size-20: 20px;

$font-size-16: 16px;

$font-size-14: 14px;

$font-size-12: 12px;

// 추후
// line-height
// letter-spacing
